*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Ignore R
*.RData
*.Rhistory

# Ignore data file
*fit*.RData
*roll*.RData
*fcst*.RData
*fit*.txt
*roll*.txt
*fcst*.txt
*fit*.csv
*roll*.csv
*fcst*.csv


